/* .h-num {
	font-size: 20px;
	font-weight: 700;
}

.intro-title {
	color: #565a69;
}

.b-shadow {
	box-shadow: rgb(0 0 0/5%) 0 6px 10px;
}

.table>:not(:first-child) {
	border-top: 2px solid #dee2e6;
}

.left-icon {
	width: 50px;
}

.footer-item {
	display: inline-block;
	width: 180px;
} */